/* import the required styles */
@import '@vue-flow/core/dist/style.css';

/* import the default theme (optional) */
@import '@vue-flow/core/dist/theme-default.css';

@import '@vue-flow/controls/dist/style.css';
@import '@vue-flow/minimap/dist/style.css';

body {
  color: #111;
  padding: 5px;
}
html,
body,
#app {
  margin: 0;
  height: 100%;
}
